/*  your css code here. If applicable */
body {
font-family: Arial, sans-serif;
background-color: #f4f4f4;
margin: 0;
padding: 0;
display: flex;
justify-content: center;
}


.imageContainer {
width: 100%;
text-align: center;
margin-bottom: 20px;
}


.imageContainer img {
width: 100%;
max-height: 350px;
object-fit: cover;
border-radius: 10px;
}


table {
width: 100%;
border-collapse: collapse;
margin-top: 20px;
}


table td {
border: 1px solid #ccc;
padding: 10px;
vertical-align: top;
}


.img-col {
width: 200px;
}


.img-col img {
width: 100%;
height: 150px;
object-fit: cover;
border-radius: 8px;
}


.text-col {
width: 600px;
font-size: 15px;
line-height: 1.5;
color: #333;
}